#root {
    height: 100vh;
}

html {
    height: 100%;
}

/* ----------------------------- Top-Level Setup ---------------------------- */
.container-primary {
    width: 100%;
    height: 100%;
    padding: 0 0px;
}

.container-secondary {
    width: 100%;
    height: 100%;
    display: flex;
}

.wsidebar {
    scrollbar-width: thin;
}

.list-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding: 12px 24px;
}

.table-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding-bottom: 12px;
    padding-top: 12px;
    cursor: pointer;
}

.table {
    display: flex;
    //float: left;
    width: 100%;
    flex-direction: column;
    //align-items: center;
}

.table-entries {
    overflow-y: scroll;
}

.table-header {
    width: calc(100% - 56px);
    box-sizing: border-box;
    align-items: center;
}

.table-header-section {
    width: 100%;
    height: 100%;
    padding: 0;
}

.table-header-button {
    padding: 0;
    // margin-left: 36px;
}

.table-header-button-disabled{
    padding: 0;
    // margin-left: 12px;
    cursor: default;
}

.table-header-buttons {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

.table-entry-buttons {
    padding: 0;
    margin-left: 18px;
    margin-right: 18px;
}

.table-entry {
    //padding: 12px 24px;
    //padding: 12px 0;
}

.button-group {
    height: 100%;
    display: flex;
    align-items: center;
}

.sidebar-header {
    width: calc(100% - 48px);
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 24px;
    padding-bottom: 12px
}

.sidebar-options {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.sidebar-buttons {
    padding: 0;
}

.modal-input {
    width: 100%;
}

.login-modal {
    width: 350px;
}

.signup-modal {
    width: 375px;
}

.modal-col-gap{
    column-gap: 24px;
}

.modal-button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.modal-spacer {
    height: 24px;
}

.main-login-modal {
    padding: 24px 24px 0px 24px;
}

.modal-error {
    height: 24px;
    align-items: center;
    display: flex;
}

.delete-modal {
    width: fit-content;
}

.col-spacer {
    width: 24px;
    display: inline-block;
}

.wsidebar {
    overflow-y: scroll;
}

.list-item-edit, .table-input, .table-select {
    width: 100%;
}

.list-item-edit-input {
    padding: 23px 24px 24px 24px !important;
}

.table-input, .table-select {
    height: 100%;
    display: flex;
    align-items: center;
}

.table-input-class {
    padding-left: 0px !important;
    padding-right: 0px !important;
    //font-size: 1.125rem;
}

.logo{//keep
    width: 100px;
}

.logo:hover{
    cursor: pointer;
}

.mapscreen-alignment{
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.spreadsheet-alignment{
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.center{
    display: flex;
    height: 400px;
}

.vertical{
    display: flex;
    flex-direction: column;
}

.horizontal{
    display: flex;
    flex-direction: row;
}

.mapscreen-body{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
}

.size{
    min-width: 50%;
    max-width: 50%;
}

.size2{
    min-height: 100px;
    max-height: 100px;
}

.flexlr{
    display: flex;
    flex-direction: row;
}

.text-bottom{
    text-align: center;
}

.viewer-text{
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 12px;
}

.viewer-text2{
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 12px;
}

.viewer-text3{
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 12px;
}

.landmark-container{
    margin-top: 12px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.container{
    justify-content: flex-start;
    margin-top: 14px;
}

.title-card{
    min-width: 62%;
    max-width: 62%;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.button-set{
    align-self: flex-start;
    min-width: 15%;
    min-width: 15%;
}

.region-container{
    min-height: 97%;
    max-height: 97%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.region-container-inner{
    min-width: 50%;
    max-width: 50%;
    min-height: 100%;
    max-height: 100%;
}

.create-new-map{
    min-width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

.center-button{
    text-align: center;
}

.image2{
    min-height: 92%;
}

.map-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding-bottom: 12px;
    padding-top: 12px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

.map-entry {
    //padding: 12px 24px;
    //padding: 12px 0;
}

.ss-header-button{
    min-width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

.ss-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding-bottom: 12px;
    padding-top: 12px;
    cursor: pointer;
}

.ss-button{
    width: 15px;
    height: 15px;
}

.ss-text-centered{
    min-width: 100%;
    max-width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.ss-text-centered2{
    min-width: 69%;
    max-width: 69%;
    text-align: center;
}

.ss-text-centered3{
    min-width: 100%;
    max-width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.ss-text-margin{
    margin: 0px;
}

.landmarks-header-text{
    text-align: center;
    margin-top: auto;
}

.landmark-footer-settings{
    min-height: 50%;
    max-height: 50%;
}

.overflow{
    overflow-y: scroll;
}

.auto-overflow{
    overflow-y: auto;
}

.overflow-text{
    overflow: hidden;
    max-height: 90%;
}

.clickable{
    
}

.clickable:hover{
    cursor: pointer;
}

.ss-height-lock{
      width: 100%;
      //display:block;
      height: 512px;
}

// .test{
//     height: 100%;
//     display: flex;
//     align-items: center;
// }

.directory-container{
    width: 80%;
    display: flex;
    flex-direction: row;
}

.directory-inner{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.directory-margin{
    margin-left: 3px;
    margin-right: 3px;
}

.hard-flexlr{
    display: flex !important;
    flex-direction: row !important;
}

.display-flex{
    display: flex;
}

.spreadsheet-background{
    height: 550px;
}

.button-settings{
    height: 32px;
    width: 32px;
    padding: 0px 4px;
}

.landmark-table{
    height: 100%;
}

.landmark-overflow{
    overflow-y: scroll;
}

.landmark-entry-text{
    height: 32px;
    padding-top: 5px;
}

.landmark-entry-text-disabled{
    height: 32px;
    padding-top: 5px;
    cursor: default;
}

.landmark-entry-input{

}